@import "tailwindcss";

#Card {
  background: #453e4a61;
  border-radius: 16px;
  /* animation: "boxShadowAnimation" 4s infinite ;
  animation-timing-function: linear; */
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  /* border: 3px solid rgba(69, 69, 69, 0.422); */
}

@keyframes boxShadowAnimation {
  0% {
    box-shadow: 0 0px 0px rgba(98, 98, 98, 0.2);
  }

  50% {
    box-shadow: rgba(60, 60, 60, 0.25) 0px 50px 100px -20px, rgba(98, 98, 98, 0.3) 0px 30px 60px -30px;
    color: rgb(128, 255, 128);
  }

  100% {
      box-shadow: 0 0px 0px rgba(98, 98, 98, 0.2);
    }
}


