.buttonBack {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.buttonBack:before,
.buttonBack:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.buttonBack:before {
  border: 4px solid #f0eeef;
  transition:
    opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.buttonBack:after {
  border: 4px solid #9996e099;
  transform: scale(1.3);
  transition:
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.buttonBack:hover:before,
.buttonBack:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition:
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.buttonBack:hover:after,
.buttonBack:focus:after {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.buttonBack-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.buttonBack-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.buttonBack:hover .buttonBack-box,
.buttonBack:focus .buttonBack-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
