@import "tailwindcss";

.VerticalTimelineContainer {
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);    
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 95%, transparent);
}