@import "tailwindcss";

.mobileGlowButton {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgba(124, 122, 191, 0.486);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  /* background: transparent; */
  color: #fff;
  overflow: hidden;
  /* box-shadow: 0 0 0 0 transparent; */
  /* -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; */
  width: 100%;
  cursor: pointer;
  user-select: none;
  background: rgba(124, 122, 191, 0.6);
  box-shadow: 0 0 30px 5px rgba(67, 54, 104, 0.788);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  &::before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    -webkit-animation: sh02 5s linear infinite;
    -moz-animation: sh02 5s linear infinite;
    animation: sh02 5s linear infinite;
  }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
}

/*
    Delay Math Applied: 
    
    100%/delay wanted = final phase of movement 

    (100%/delay wanted)/2 = middle phase of movement 

    Example.: 

    100%/4 = 25% => final phase of movement

    (100%/4)/2 = 12.5% => middle phase of movement   
*/

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
    left: 100%;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
